/* =======================
   LAYOUT.CSS
======================= */

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.section {
  padding: 4rem 1rem;
}

.section-header {
  text-align: center;
  margin-bottom: 2rem;
}

#latest-articles {
  margin-top: 6rem;
  padding-top: 2rem;
}
